{% extends "base.html" %}

{% block title %}Denise (aka dennis-as-a-service){% endblock %}

{% block content %}
<div class="jumbotron">
  <h1>Denise <small>(aka dennis-as-a-serivce)</small></h1>
  <p>
    <a href="https://github.com/willkg/denise">Denise</a>
    web-ifies the <a href="https://dennis.readthedocs.io/">Dennis</a>
    translation-helper tools.
  </p>
</div>

{% if error %}
  <p class="text-center">
    {{ error }}
  </p>
{% endif %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Lint a .po/.pot file for errors</h2>
  </div>
  <div class="panel-body">
    <p>
      Lint your .po files for errors before you check them in!
      Lint your .pot files for issues to reduce heartache translators will encounter!
    </p>
    {{ csrf() }}
    <form class="form-inline" method="post" enctype="multipart/form-data" action="{{ url('lint-view') }}" role="form">
      {{ csrf() }}
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-btn">
            <span class="btn btn-default btn-file">
              Select .po/.pot file
              <input type="file" id="poFile" name="pofile">
            </span>
          </span>
          <input class="form-control" type="text" readonly="">
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Lint</button>
    </form>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">TRANSLATE A WEBSITE!</h2>
  </div>
  <div class="panel-body">
    <p>
      Translate arbitrary sites for relieving Wednesday morning
      doldrums!
    </p>
    <form class="form-inline" method="get" action="/" role="form">
      <div class="form-group">
        <label class="control-label" for="url">URL:</label>
        <input type="url" id="url" name="urltotranslate" placeholder="url to translate" value="{{ urltotranslate }}"/>
      </div>
      <div class="form-group">
        <label class="control-label" for="language">Language:</label>
        <select name="language">
          <option value="zombie">Zombie</option>
          <option value="dubstep">Dubstep</option>
          <option value="pirate">Pirate</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">TRANSLATE WEBSITE</button>
    </form>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">OR, TRANSLATE TEXT!</h2>
  </div>
  <div class="panel-body">
    <p>
      Translate arbitrary text for emails to your colleagues!
    </p>
    <form method="get" action="/" role="form">
      <div class="form-group">
        <label class="control-label" for="language">Language:</label>
        <select name="language">
          <option value="zombie">Zombie</option>
          <option value="dubstep">Dubstep</option>
          <option value="pirate">Pirate</option>
        </select>
      </div>
      <div class="form-group">
        <label class="control-label" for="zombifyInput">From:</label>
        <textarea class="form-control" id="zombifyInput" name="text" rows="5">{{ text }}</textarea>
      </div>
      <button class="btn btn-primary" type="submit">TRANSLATE TEXT</button>
      <div class="form-group">
        <label class="control-label" for="zombifyOutput">To:</label>
        <textarea class="form-control" id="zombifyOutput" rows="5" readonly="">{{ translatedstring }}</textarea>
      </div>
    </form>
  </div>
</div>

<!--
<div class="row">
  <div class="col-md-12">
    <h2>OR, ZOMBIFY A .po FILE!</h2>
    <div class="well">
    <p>
      This is probably the most useful of the three, but it is not
      implemented, yet. COMING SOON!
    </p>
    </div>
  </div>
</div>
-->
{% endblock content %}
