{% extends "base.html" %}

{% block title %}DENNIS-AS-A-SERVICE: SUMO{% endblock %}

{% block content %}
{% if error %}
  <p class="text-center">
    {{ error }}
  </p>
{% else %}
  <div class="row">
    <div class="col-md-12">
      <h1>Linted Results: "{{ filename }}"</h1>

      <h2>Metadata</h2>
      <dl class="dl-horizontal">
        {% for key, val in metadata %}
          <dt>{{ key }}</dt>
          <dd>{{ val }}</dd>
        {% endfor %}
      </dl>

      <h2>Calculated data</h2>
      <dl class="dl-horizontal">
        {% for key, val in calculateddata %}
          <dt>{{ key }}</dt>
          <dd>{% if val.startswith('http') %}<a href="{{ val }}">{{ val }}</a>{% else %}{{ val }}{% endif %}</dd>
        {% endfor %}
      </dl>

      <h2>Lint results</h2>
      {% if not err_results and not warn_results %}
        <p>
          Perfect! No problems!
        </p>
      {% else %}
        {# Show *all* the errors first, then the warnings. #}
        {% for msg in err_results %}
          <div class="group">
            <div class="header error">
              <div class="msg">
                {{ msg.code }}: {{ msg.msg }}
              </div>
              {% for line in entry_with_lines(msg.poentry) %}
                <div class="line">{{ line }}</div>
              {% endfor %}
            </div>
          </div>
        {% endfor %}

        {% for msg in warn_results %}
          <div class="group">
            <div class="header warning">
              <div class="msg">
                {{ msg.code }}: {{ msg.msg }}
              </div>
              {% for line in entry_with_lines(msg.poentry) %}
                <div class="line">{{ line }}</div>
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
{% endif %}
{% endblock content %}
