{% extends "base.html" %}

{% block title %}DENNIS-AS-A-SERVICE: SUMO{% endblock %}

{% block content %}
{% if error %}
  <p class="text-center">
    {{ error }}
  </p>
{% else %}
  <div class="row">
    <div class="col-md-12">
      <h1>Linted Results: "{{ filename }}"</h1>

      <h2>Metadata</h2>
      <dl class="dl-horizontal">
        {% for key, val in metadata %}
          <dt>{{ key }}</dt>
          <dd>{{ val }}</dd>
        {% endfor %}
      </dl>

      <h2>Calculated data</h2>
      <dl class="dl-horizontal">
        {% for key, val in calculateddata %}
          <dt>{{ key }}</dt>
          <dd>{% if val.startswith('http') %}<a href="{{ val }}">{{ val }}</a>{% else %}{{ val }}{% endif %}</dd>
        {% endfor %}
      </dl>

      <h2>Lint results</h2>
      {% if not results %}
        <p>
          Perfect! No problems!
        </p>
      {% else %}
        {# Show *all* the errors first, then the warnings. #}
        {% for entry in results %}
          {% for code, trstr, msg in entry.errors %}
            <div class="group">
              <div class="header error">
                <div class="msg">
                  {{ code }}: {{ msg }}
                </div>
                {% for field, s in zip(trstr.msgid_fields, trstr.msgid_strings) %}
                  <div class="line">{{ field }} "{{ s.decode('utf-8') }}"</div>
                {% endfor %}
                <div class="line">{{ trstr.msgstr_field }} "{{ trstr.msgstr_string.decode('utf-8') }}"</div>
              </div>
            </div>
          {% endfor %}
        {% endfor %}

        {% for entry in results %}
          {% for code, trstr, msg in entry.warnings %}
            <div class="group">
              <div class="header warning">
                <div class="msg">
                  {{ code }}: {{ msg }}
                </div>
                {% for field, s in zip(trstr.msgid_fields, trstr.msgid_strings) %}
                  <div class="line">{{ field }} "{{ s.decode('utf-8') }}"</div>
                {% endfor %}
                <div class="line">{{ trstr.msgstr_field }} "{{ trstr.msgstr_string.decode('utf-8') }}"</div>
              </div>
            </div>
          {% endfor %}

        {% endfor %}
      {% endif %}
    </div>
  </div>
{% endif %}
{% endblock content %}
