body {
  background-color: #333;
}

.outer-container {
  background-color: #f1f1f1;
  background: white;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}

.main.container {
  padding-left: 3em;
  padding-right: 3em;
}

.navbar {
  margin-left: 0;
  width: 100%;
}

.group {
  padding: 6px;
}

.header {
  padding: 4px;
}

.line {
  font-family: monospace;
}

.warning .msg {
  background: #ffff77;
}

.error .msg {
  background: #ff7777;
}

footer {
  margin-top: 10px;
  padding: 10px;
  background: #F8F8F8;
  border-top: 1px solid #E7E7E7;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}